<ion-content>
  <div>
    <ion-title>Pocket Doctor</ion-title>
    <ion-list>
      <ion-item>
        <ion-input placeholder="Correo" [(ngModel)]="correo" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          placeholder="Contraseña"
          type="password"
          [(ngModel)]="password"
        ></ion-input>
      </ion-item>
      <ion-button color="primary" expand="block" (click)="login()"
        >Iniciar Sesión</ion-button
      >
      <br />
      <ion-button color="light" expand="block" (click)="register()"
        >Registrarse</ion-button
      >
    </ion-list>
  </div>
</ion-content>
