<ion-header no-border>
  <ion-toolbar color="light">
    <ion-title class="titulos">Mis Dietas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <span *ngIf="dietasExist()">
    <div class="box" *ngFor="let dieta of dietas; let i = index">
      <ion-grid fixed style="text-align: center;">
        <ion-row>
          <ion-col>
            <ion-label style="font-size: 20px; font-weight: bold;">{{
              dieta.propiedad.nombre
            }}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label style="font-weight: bold; font-size: 18px;">
              Meta
            </ion-label>
            <br />
            <ion-label> {{dieta.meta + ' ' + dieta.propiedad.unidad}} </ion-label>
          </ion-col>
          <ion-col>
            <ion-label style="font-weight: bold; font-size: 18px;">
              Progreso
            </ion-label>
            <br />
            <ion-label> {{ usuario.propiedades[i].toFixed(2) + ' ' + dieta.propiedad.unidad}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div style="margin: 0 20px;">
        <ion-progress-bar
          style="height: 10px; border-radius: 4px;"
          color="primary"
          value="{{ usuario.propiedades[i] / dieta.meta }}"
        ></ion-progress-bar>
      </div>
    </div>
  </span>

  <div class="box" *ngIf="!dietasExist()" style="text-align: center;">
    <span class="subtitulos">¡No tienes ninguna dieta, agrega una!</span>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="nuevaDieta()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
