.titulos {
  font-size: 20px;
}

.subtitulos {
  font-size: 16px;
}

.textoBoton {
  font-style: normal;
  text-transform: capitalize;
}

.box {
  margin: 10px;
  margin-bottom: 10px;
  border: 3px solid var(--ion-color-light);
  padding: 5px;
  border-radius: 10px;
}

.button {
  --background: transparent;
  --color: var(--ion-color-primary);
  --border-color: var(--ion-color-primary);
  --border-width: 2px;

  --background-activated: var(--ion-color-primary);
  --color-activated: white;

  --box-shadow: 0px;
  --border-radius: 10px;
  margin: 5px;
  font-size: 15px;
}

.create {
  margin: 5px;
  color: var(--ion-color-primary);
  background-color: transparent;
  border: 1px solid var(--ion-color-primary);
  font-size: 16px;
  padding: 5px;
  border-radius: 3px;
}

.comer {
  --background: transparent;
  --color: var(--ion-color-primary);
  --border-color: var(--ion-color-primary);
  --border-width: 2px;

  --background-activated: var(--ion-color-primary);
  --color-activated: white;

  --box-shadow: 0px;

  --border-radius: 10px;
  margin: 15px;
  font-size: 15px;
}
