<ion-header>
  <ion-toolbar>
    <ion-title>Resultados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 15px;">
    <ion-item>
      <ion-label
        >Has comparado {{ producto1.nombre }} {{ producto1.tipo }} <br />
        con {{ producto2.nombre }} {{ producto2.tipo }}</ion-label
      >
    </ion-item>
    <ion-list>
      <ion-item *ngFor="let elemento of arreglo">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">{{ elemento.Nombre }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">{{ elemento.Valor1 }}</ion-col>
            <ion-col size="5">
              <div [ngStyle]="{ color: elemento.Color }">
                {{ elemento.Resultado }}
              </div>
            </ion-col>
            <ion-col size="3">{{ elemento.Valor2 }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
