<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-title>Registro</ion-title>
    <ion-list>
      <ion-item>
        <ion-input placeholder="Nombre" [(ngModel)]="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Correo" [(ngModel)]="correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          placeholder="Fecha de nacimiento"
          [(ngModel)]="fecha"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          placeholder="Contraseña"
          [(ngModel)]="contrasena"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" color="primary" (click)="register()"
      >Registrarse</ion-button
    >
  </div>
</ion-content>
