.italic {
  font-style: italic;
  text-align: right;
}

.rojo {
  --color: white;
  --background: red;
  --border-radius: 30px;
  margin: 15px;
}

p {
  margin: 15px;
}

.badge {
  font-size: 16px;
  --padding-bottom: 10px;
  --padding-end: 15px;
  --padding-start: 15px;
  --padding-top: 10px;
}

@import url("https://fonts.googleapis.com/css?family=Poppins");

.titulos {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.subtitulos {
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    text-transform: capitalize;
  }

.boton{
  width: 150px;
  --border-width: 1px;
  --border-color: gray;
  margin: 5px;

}

.hi {
  font-family: var(--ion-font-family);
}