<ion-header>
  <ion-toolbar color="primary" no-border>
    <ion-title> {{ product.nombre }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button
        href="https://www.eluniversal.com.mx/sites/default/files/u17566/4.jpeg"
      >
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button
        [routerLink]="['/search']"
        routerLinkActive="router-link-active"
      >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-img
        src="https://www.eluniverso.com/sites/default/files/styles/nota_ampliada_normal_foto/public/fotos/2012/08/homeroelmejor_456_336.jpg?itok=V-iNaGvK"
      ></ion-img>
    </ion-card-content>
  </ion-card>

  <div>
      <ion-item>
          <ion-label>Categoria</ion-label>
          <ion-badge color="warn" class="badge"
            >{{ product.categoria }}</ion-badge
          >
        </ion-item>
        <ion-item>
            <ion-label>Tipo</ion-label>
            <ion-badge color="warn" class="badge"
              >{{ product.tipo }}</ion-badge
            >
          </ion-item>
    <ion-item>
      <ion-title>Valor Nutricional</ion-title>
    </ion-item>

    <ion-list lines="none">
      <ion-item>
        <ion-label>Sodio</ion-label>
        <ion-badge color="primary" class="badge"
          >{{ product.sodio }} %</ion-badge
        >
      </ion-item>
      <ion-item>
        <ion-label>Potasio</ion-label>
        <ion-badge color="primary" class="badge"
          >{{ product.potasio }} %</ion-badge
        >
      </ion-item>
      <ion-item>
        <ion-label>Azucar</ion-label>
        <ion-badge color="primary" class="badge"
          >{{ product.proteinas }} %</ion-badge
        >
      </ion-item>
      <ion-item>
        <ion-label>Calorias</ion-label>
        <ion-badge color="primary" class="badge"
          >{{ product.calorias }} %</ion-badge
        >
      </ion-item>
    </ion-list>
  </div>
</ion-content>
