<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title>Comparar con...</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar
      placeholder="Buscar..."
      animated
      (ionChange)="searchProduct($event)"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="products.length == 0">
    <ion-item *ngFor="let i of [1, 1, 1, 1, 1]">
      <ion-label>
        <ion-skeleton-text animated width="50%"></ion-skeleton-text>
        <ion-skeleton-text animated width="90%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="products.length > 0">
    <ion-item
      *ngFor="let product of (products | filter: textSearch)"
      (click)="compare(product)"
    >
      <ion-label>
        <h4>{{ product.nombre }} {{ product.tipo }}</h4>
        <h4>{{ product.categoria }}</h4>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
