
ion-avatar{
    width: 40%;
    height: 40%;
    position: relative;
    margin: 0 auto;
}
img{
    border-radius:50%;
    height:40%;
    width:40%;
}
ion-card{
    text-align: center;
    align-content: center;
    align-self: center;
}
div{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5%;
}
.badge {
    font-size: 16px;
    --padding-bottom: 10px;
    --padding-end: 15px;
    --padding-start: 15px;
    --padding-top: 10px;
  }
ion-grid{
    font-size: 15px;
}

@import url("https://fonts.googleapis.com/css?family=Poppins");

.titulos {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.subtitulos {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.textoBoton {
  font-style: normal;
  text-transform: capitalize;
}