.avatar {
  height: 150px;
  width: 150px;
  position: relative;
  margin: 0 auto;
}

.photo {
  font-size: 25px;
  margin: 10px;
  height: 200px;
  border: 3px solid var(--ion-color-light);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  align-content: center;
  align-self: center;
}

.badge {
  font-size: 16px;
  --padding-bottom: 10px;
  --padding-end: 15px;
  --padding-start: 15px;
  --padding-top: 10px;
}

ion-grid {
  font-size: 15px;
}

@import url("https://fonts.googleapis.com/css?family=Poppins");

.titulos {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.subtitulos {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.textoBoton {
  font-style: normal;
  text-transform: capitalize;
}

.box {
  margin: 10px;
  margin-bottom: 10px;
  border: 3px solid var(--ion-color-light);
  padding: 5px;
  border-radius: 10px;
}
