<ion-header no-border>
  <ion-toolbar color="light">
    <ion-title class="titulos">Buscar</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light" class="titulos">
    <ion-searchbar
      placeholder="Buscar..."
      animated
      (ionChange)="searchProduct($event)"
      class="titulos"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="products.length == 0">
    <ion-item *ngFor="let i of [1, 1, 1, 1, 1]">
      <ion-label>
        <ion-skeleton-text animated width="50%"></ion-skeleton-text>
        <ion-skeleton-text animated width="90%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="products.length > 0">
    <ion-item
      *ngFor="let product of products | filter: textSearch"
      (click)="viewProduct(product)"
    >
      <ion-label class="listaNombres">
        <p>
          <b>{{ product.nombre }}</b> <br />
          Tipo: {{ product.tipo }}
          <br />
          Categoria: {{ product.categoria | uppercase }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
