ion-img {
  margin: 0 auto;
}

.boton {
  margin: 0 auto;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Poppins");

.titulos {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.subtitulos {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.textoBoton {
  font-style: normal;
  text-transform: capitalize;
  --border-width: 1px;
  --border-color: gray;
}
